.sodalis-goal {
    min-width: 200px;
    width: 200px;
    background: linear-gradient(whitesmoke, floralwhite);
    border-radius: 8px;
    padding: 4px;
}

.sodalis-goal p {
    font-size: smaller;
    margin: 4px;
}